/*define main grids*/
body{
  margin: 0;
  display: grid;
  grid-template-areas:
  "menu"
  "content"
  "footer"
  ;
  background: var(--color3);
  font-family: var(--font-family1);
}

.content{
  display: grid;
  width: 100%;
  min-height: calc(100vh - var(--menu-height) - 1px);
  justify-content: center;
  align-items: center;
}
